---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Image from '~/components/common/Image.astro';
import TimeLine from '~/components/ui/Timeline.astro';
import type { TimelineFeatures } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  image,
  items = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as TimelineFeatures;
---

<WidgetWrapper id={id} isDark={isDark} bg={bg}>
  <div aria-hidden="true" class="aspect-w-16 aspect-h-7 mb-8">
    {
      image && (
        <div class="w-full h-80 object-cover rounded-xl mx-auto bg-gray-500 shadow-lg">
          {typeof image === 'string' ? (
            <Fragment set:html={image} />
          ) : (
            <Image
              class="w-full h-80 object-cover rounded-xl mx-auto bg-gray-500 shadow-lg"
              width="auto"
              height="auto"
              widths={[400, 768]}
              layout="fullWidth"
              {...(image as any)}
            />
          )}
        </div>
      )
    }
  </div>

  <Headline title={title} subtitle={subtitle} tagline={tagline} classes={classes?.headline} />
  <TimeLine
    defaultIcon="tabler:circle-dashed"
    items={items}
    classes={{
      container: '',
      panel: ' scroll-m-24',
      title: 'text-2xl font-semibold my-8',
      subtitle: 'text-lg font-semibold my-4',
      content: 'mt-0.5',
      icon: '',
    }}
  />
  <!-- <ItemGrid
    items={items}
    columns={columns}
    defaultIcon={defaultIcon}
    classes={{
      container: 'mt-12',
      panel: 'max-w-full sm:max-w-md',
      title: 'text-lg font-semibold',
      description: 'mt-0.5',
      icon: 'flex-shrink-0 mt-1 text-primary w-6 h-6',
      ...((classes?.items as {}) ?? {}),
    }}
  /> -->
</WidgetWrapper>
